/*future colors
===============
http://hslpicker.com
-   backgrounds
    ===========
    #f96 background (orange)

-   fonts
    =====
    #310 font color (slate gray)
    

icons
=====
http://favicon.io/favicon-generator
Font Family Abel
Font Size 72
*/








/*CSS reset*/
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {
    margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
nav ul { list-style:none;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none;}
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc;  margin:1em 0; padding:0; }
input, select { vertical-align:middle;}


body {
    font-size: 1.0em;
    font-family: Helvetica, Sans-Serif;
    color: #fbfbfb;
    letter-spacing: 0.07em;
    line-height: 1;
    /*background-color: #1b2638;*/
    background-color: #1a2637;
    background-image: url(Notes-background.png);
    background-repeat: no-repeat;
    background-size: contain;
}
header,  nav, section { display: block; }

h1, h2, h3, h4, h5, h6 { font-family: Helvetica, sans-serif; margin-bottom: 15px; text-align: center; color: #1a2637;}
h1 {font-size: 2.2em;}
h2 {font-size: 2.0em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.6em;}
h5 {font-size: 1.4em;}

section {margin-left: auto; margin-right: auto; display: block; width: 400px;}
select {width: 100px;}

/*generic classes*/
.clear {clear: both;}
.border {border: 1px solid black;}
.rounded {-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;}

/*forms*/
label {margin-top: 11px; display: block;}
input, select {display: block;}
input[type='text'], select {width: 200px;}
textarea {width: 90%; height: 65px; margin-top: 20px; margin-bottom: 20px; display: block; max-width: 400px;}

/*controls*/
.controls {margin-top: 10px; margin-bottom: 30px;}



