/*fretboard*/
.fretboard { width: 300px;  float: left; background-color:rgba(60,85,116,0.9); padding: 10px 10px 10px 100px; }
.fretboard .highest-string {border-top: 1px solid transparent; border-right: 1px solid transparent; border-bottom: 1px solid transparent;}
.fretboard .lowest-string {border-left: 2px solid #333;}
.fretboard .nut {border: 1px solid transparent; height: 10px;}
.fretboard .nut span {top: 0%;}
.fretboard ol { float: left; height: 900px; }
.fretboard ol li {position: relative; list-style-type: none; border: 1px solid #333; width: 40px;}
.fretboard ol li span {position: absolute; left: -10px;  width: 20px;  color: #ccc;
                       /*center the letters vertically and horizontally*/
                       text-align: center; top: 50%; height: 1em; margin-top: -.5em;}

.fretboard ol li:nth-child(2) {height: 7.63%;}
.fretboard ol li:nth-child(3) {height: 7.21%;}
.fretboard ol li:nth-child(4) {height: 6.83%;}
.fretboard ol li:nth-child(5) {height: 6.41%;}
.fretboard ol li:nth-child(6) {height: 6.09%;}
.fretboard ol li:nth-child(7) {height: 5.71%;}
.fretboard ol li:nth-child(8) {height: 5.39%;}
.fretboard ol li:nth-child(9) {height: 5.13%;}
.fretboard ol li:nth-child(10) {height: 4.81%;}
.fretboard ol li:nth-child(11) {height: 4.54%;}
.fretboard ol li:nth-child(12) {height: 4.27%;}
.fretboard ol li:nth-child(13) {height: 4.06%;}
.fretboard ol li:nth-child(14) {height: 3.84%;}
.fretboard ol li:nth-child(15) {height: 3.58%;}
.fretboard ol li:nth-child(16) {height: 3.42%;}
.fretboard ol li:nth-child(17) {height: 3.20%;}
.fretboard ol li:nth-child(18) {height: 3.04%;}
.fretboard ol li:nth-child(19) {height: 2.83%;}
.fretboard ol li:nth-child(20) {height: 2.72%;}
.fretboard ol li:nth-child(21) {height: 2.56%;}
.fretboard ol li:nth-child(22) {height: 2.40%;}
.fretboard ol li:nth-child(23) {height: 2.24%;}
.fretboard ol li:nth-child(24) {height: 2.08%;}



.inScale {background-color: blue; color: white;}
.root {background-color: red; color: white;}